@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root,
:root[data-theme="dark"] {
  /* Variáveis de cores */
  --primary-color: #00021b; /* Cor primária */
  --secondary-color: #038ceb; /* Cor secundária */
  --background-color: #000000; /* Cor de fundo */
  --text-color: #ffffff; /* Cor do texto */
  --text-color-secondary: #b0b0b0; /* Cor do texto secundário */
  --borda-menu: #000433; /* Cor da borda do menu */
  --pill-bg: #0f172a; /* Fundo dos links */
  --active-bg: #020617; /* Fundo do item ativo */

  /* Variáveis de fontes */
  --fonte-principal: "Inter", sans-serif;
  --fonte-secundaria: "Krona One", sans-serif;
}

:root[data-theme="light"] {
  --primary-color: #ffffff; /* Cor primária */
  --secondary-color: #038ceb; /* Cor secundária */
  --background-color: #f0f0f0; /* Cor de fundo */
  --text-color: #000000; /* Cor do texto */
  --text-color-secondary: #4a4a4a; /* Cor do texto secundário */
  --borda-menu: #dcdcdc; /* Cor da borda do menu */
  --pill-bg: #e0e0e0; /* Fundo dos links */
  --active-bg: #c0c0c0; /* Fundo do item ativo */
}

html[data-theme="light"] .brand__logo {
  filter: invert(1);
}

/* Seletor universal */
* {
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove os preenchimentos padrão */
  box-sizing: border-box; /* Define o modelo de caixa para incluir bordas e preenchimentos no tamanho total do elemento */
  vertical-align: baseline; /* Alinha os elementos verticalmente ao meio */
  list-style: none; /* Remove os marcadores de lista */
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: var(--fonte-principal);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--text-color-secondary);
  font-weight: 700;
}

i {
  color: var(--text-color);
}

h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  font-family: var(--fonte-secundaria);
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 200;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background-color: var(--primary-color);
  border-radius: 100px; /* Formato de pílula */
  margin: 20px;
}

.header__brand .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

.header__brand {
  height: 50px; /* Define a altura do header para 50px */
}

#toggleTheme {
  font-size: 1.3rem;
  color: var(--text-color);
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  width: 100%;
}

.menu--mobile {
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  justify-content: space-between;
  border-top: 2px solid var(--borda-menu);
  background-color: var(--primary-color);
}

.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  color: var(--secondary-color);
  font-weight: 600;
}

.menu__icon,
.menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.header__nav {
  display: none;
}

.menu--principal {
  gap: 3rem;
}

.menu--social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  background-color: transparent;
  border-radius: 3.125rem;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out 0.3s;
}

.btn:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn span {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.btn--primary span {
  color: var(--text-color);
}

.btn--primary {
  border: 2px solid var(--secondary-color);
}

.apresentacao {
  flex-direction: column-reverse;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  color: var(--text-color);
}

.titulo-destaque {
  color: var(--secondary-color);
}

.apresentacao__conteudo__texto {
  font-size: 1.1rem;
  font-family: var(--fonte-principal);
  color: var(--text-color);
}

/* O "Molde" - Este contêiner segura o espaço e não deixa nada empurrar */
.profile__container {
  width: 200px; /* Defina o tamanho exato que você quer (largura) */
  height: 200px; /* Defina a altura exata */
  position: relative; /* Necessário para o posicionamento das imagens dentro */
  margin: 0 auto; /* Opcional: Centraliza o contêiner se necessário */
  overflow: hidden; /* Garante que nada saia do molde */
}

/* Estilo básico para ambas as Imagens - ELAS SÃO EMPILHADAS */
.profile__image {
  position: absolute; /* Tira do fluxo normal e empilha no mesmo ponto */
  top: 0;
  left: 0;
  width: 100%; /* Preenche todo o contêiner parent (200px) */
  height: 100%; /* Preenche toda a altura */
  object-fit: cover; /* IMPORTANTE: Ajusta a imagem sem esticar, cortando se necessário */
  transition: opacity 0.4s ease-in-out; /* Transição suave na troca */
}

/* --- ESTADO MODO DARK --- */
.profile__image--dark {
  opacity: 1;
  z-index: 2;
}

.profile__image--light {
  opacity: 0;
  z-index: 1;
}

/* --- ESTADO MODO CLARO --- */
/* Quando o <html> tiver o atributo data-theme="light" */
[data-theme="light"] .profile__image--dark {
  opacity: 0;
  z-index: 1;
  visibility: hidden;
}

[data-theme="light"] .profile__image--light {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

.video-border-wrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  margin-top: 20px;
  background: linear-gradient(135deg, #03c5ff 0%, #f7301a 100%);
  padding: 4px;
  border-radius: 25px;
  box-shadow:
    0 10px 30px rgba(0, 210, 255, 0.3),
    0 20px 50px rgba(255, 0, 76, 0.2);
}

.video-container {
  background-color: var(--primary-color);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  padding: 6.25rem 1rem 2rem 1rem;
  background: var(--pill-bg);
  margin-top: -5.5rem;
}

.skills h2 {
  font-size: 1.25rem;
  text-align: center;
  text-transform: none;
}

.skills__list {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.skills__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3.8rem;
  height: 3.8rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--secondary-color);
  border-radius: 50rem;
}

.skills__logo {
  height: 3.3rem;
}

footer p {
  font-size: 0.875rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--borda-menu);
    padding: 10px 20px;
    border-radius: 50px; /* Faz o formato de cápsula */
    margin: 10px;
  }

  .menu--principal {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  .menu__link {
    color: var(--text-color);
    padding: 10px 25px;
    display: flex;
    align-items: center;
    font-family: var(--fonte-principal);
    font-size: 16px;
    transition: 0.3s;
    border-radius: 40px;
  }

  .menu__link.active,
  .menu__link:hover {
    background-color: var(--active-bg);
    color: var(--text-color);
  }

  .menu__link.active .menu__text,
  .menu__link:hover .menu__text {
    color: var(--text-color);
    font-weight: 700;
  }

  #toggleTheme {
    background-color: var(--text-color);
    color: var(--background-color);
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.1rem;
  }

  .apresentacao {
    flex-direction: row;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
  }

  .apresentacao__conteudo__titulo {
    font-size: 2.1rem;
  }

  .apresentacao__conteudo__texto {
    font-size: 1.25rem;
  }

  .profile__container {
    width: 900px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  .profile__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out;
  }
  .video-border-wrap {
    max-width: 700px;
  }

  .skills h2 {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .skills__list {
    gap: 3.5rem;
  }

  .skills__item {
    width: 4.8rem;
    height: 4.8rem;
  }

  .skills__logo {
    height: 4.3rem;
  }
}

@media (max-width: 1000px) and (min-width: 768px) {
  .apresentacao__conteudo__titulo {
    font-size: 1.7rem;
  }

  .apresentacao__conteudo__texto {
    font-size: 1.3rem;
  }

  .profile__container {
    width: 600px;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .apresentacao .btn {
    width: auto;
  }
}
